@charset "UTF-8";

:root {
  --clr-main-default: hsl(174, 72%, 56%);
  --clr-main-light: hsl(174, 72%, 76%);
  --clr-main-dark: hsl(174, 72%, 36%);
  --clr-accent1-default: hsl(238, 52%, 63%);
  --clr-accent1-light: hsl(238, 52%, 83%);
  --clr-accent1-dark: hsl(238, 52%, 43%);
  --clr-accent2-default: hsl(290, 57%, 70%);
  --clr-accent2-light: hsl(290, 57%, 90%);
  --clr-accent2-dark: hsl(290, 57%, 50%);
  --clr-accent3-default: hsl(341, 100%, 75%);
  --clr-accent3-light: hsl(341, 100%, 95%);
  --clr-accent3-dark: hsl(341, 100%, 55%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-text-transparent: hsla(0, 0%, 100%, 0.75);
  --br: 1.25em;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  /* Firefox scrollbar styling */
  scrollbar-color: var(--clr-main-light) var(--clr-accent1-default);
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
  color: var(--clr-text);
}

main {
  display: grid;
  place-items: center;
}

section {
  width: 100%;
}

.section1 {
  height: calc(100vh - 5.25em);
  background: linear-gradient(
    to bottom,
    var(--clr-accent1-default),
    var(--clr-main-light)
  );
}

.section2 {
  height: 100vh;
  background: linear-gradient(
    to top,
    var(--clr-accent2-default),
    var(--clr-main-light)
  );
}

.section3 {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--clr-accent2-default),
    var(--clr-accent1-dark)
  );
}

.container {
  padding: 3rem;
  margin: 20vh 15vw 0 15vw;
  border-radius: var(--br);
  box-shadow: 0 0 2rem 1rem hsla(0, 0%, 0%, 0.2);
}

.navbar {
  width: 100%;
  background-color: var(--clr-accent1-default);
}

nav {
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: var(--clr-main-default);
  border-radius: 0 0 var(--br) var(--br);
}

nav a {
  display: inline-block;
  padding: 1.25em;
  margin: 1rem;
  font-weight: 550;
  border-radius: var(--br);
}

nav a:hover,
nav a:active,
nav a:focus {
  background-color: var(--clr-main-dark);
}

a:is(:link, :visited, :hover, :active) {
  color: var(--clr-text);
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h1::before {
  content: "> ";
  color: var(--clr-text-transparent);
}

.button {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--clr-accent1-default);
  border-radius: var(--br);
  box-shadow: 0 0 2rem 0.25rem hsla(0, 0%, 0%, 0.2);
}

.scroll-to-top-button {
  display: block;
  position: fixed;
  padding: 2rem 2.5rem 1.5rem 2.5rem;
  bottom: 2em;
  right: 2em;
  text-align: center;
  font-weight: 700;
  background-color: var(--clr-main-dark);
  border-radius: var(--br);
  box-shadow: 0 0 2rem 0.25rem hsla(0, 0%, 0%, 0.2);
}

#app {
  margin: 0;
  height: 0;
  display: none;
}

#app:target {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(
    to top,
    var(--clr-main-default),
    var(--clr-accent1-dark)
  );
}

.breathing-indicator-core,
.breathing-indicator-outer {
  border-radius: 50%;
  display: hidden;
}

#app:target .breathing-indicator-core {
  display: block;
  background-color: red;
  --core-diameter: 50vw;
  width: var(--core-diameter);
  height: var(--core-diameter);
}

#app:target .breathing-indicator-outer {
  display: block;
  background-color: var(--clr-text-transparent);
  --outer-diameter: 20vw;
  width: var(--outer-diameter);
  height: var(--outer-diameter);
}

/* Chromium scrollbar styling */

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-accent1-default);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-main-light);
  border-radius: var(--br);
}
