@charset "UTF-8";

:root {
  --clr-main-default: hsl(174, 72%, 56%);
  --clr-main-light: hsl(174, 72%, 76%);
  --clr-main-dark: hsl(174, 72%, 36%);
  --clr-accent1-default: hsl(238, 52%, 63%);
  --clr-accent1-light: hsl(238, 52%, 83%);
  --clr-accent1-dark: hsl(238, 52%, 43%);
  --clr-accent2-default: hsl(290, 57%, 70%);
  --clr-accent2-light: hsl(290, 57%, 90%);
  --clr-accent2-dark: hsl(290, 57%, 50%);
  --clr-accent3-default: hsl(341, 100%, 75%);
  --clr-accent3-light: hsl(341, 100%, 95%);
  --clr-accent3-dark: hsl(341, 100%, 55%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-text-transparent: hsla(0, 0%, 100%, 0.75);
  --br: 1.25em;
  --animation-length: 8s;
  --core-diameter: 25vmin;
  --outer-min-diameter: 45vmin;
  --outer-max-diameter: 65vmin;
  --preferences-panel-height: 3rem;
  --preferences-panel-height-hover: 11.75rem;
  --app-height: calc(100vh - var(--preferences-panel-height));
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  /* Firefox scrollbar styling */
  scrollbar-color: var(--clr-main-light) var(--clr-accent1-default);
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
  color: var(--clr-text);
}

main {
  display: grid;
  place-items: center;
}

section {
  width: 100vw;
}

.section1 {
  height: calc(100vh - 5.25em);
  background: linear-gradient(
    to bottom,
    var(--clr-accent1-default),
    var(--clr-main-light)
  );
}

.section2 {
  height: 100vh;
  background: linear-gradient(
    to top,
    var(--clr-accent2-default),
    var(--clr-main-light)
  );
}

.section3 {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--clr-accent2-default),
    var(--clr-accent1-dark)
  );
}

.container {
  width: clamp(22ch, 50%, 50ch);
  padding: 2rem;
  display: block;
  margin: 15vh auto 0 auto;
  border-radius: var(--br);
  box-shadow: 0 0 2rem 1rem hsla(0, 0%, 0%, 0.2);
}

.navbar {
  width: 100%;
  background-color: var(--clr-accent1-default);
}

nav {
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: var(--clr-main-default);
  border-radius: 0 0 var(--br) var(--br);
}

nav a {
  display: inline-block;
  padding: 1em;
  margin: 1rem;
  font-weight: 550;
  border-radius: var(--br);
}

nav a:hover,
nav a:active,
nav a:focus {
  background-color: var(--clr-main-dark);
}

a:is(:link, :visited, :hover, :active) {
  color: var(--clr-text);
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h1::before {
  content: "> ";
  color: var(--clr-text-transparent);
}

.button {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--clr-accent1-default);
  border-radius: var(--br);
  box-shadow: 0 0 2rem 0.25rem hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.button:hover,
.scroll-to-top-button:hover {
  transform: translateY(-0.3rem);
}

.scroll-to-top-button {
  display: block;
  position: fixed;
  padding: 2rem 2.5rem 1.5rem 2.5rem;
  bottom: 2em;
  right: 2em;
  text-align: center;
  font-weight: 700;
  background-color: var(--clr-main-dark);
  border-radius: var(--br);
  box-shadow: 0 0 2rem 0.25rem hsla(0, 0%, 0%, 0.2);
  transition: transform 200ms ease-out;
}

#app {
  margin: 0;
  height: 0;
  display: none;
  position: relative;
  animation: app-background 10s ease-in-out 0s infinite alternate;
}

#app:target {
  width: 100%;
  height: var(--app-height);
  display: block;
  background: linear-gradient(
    to top,
    var(--clr-main-default),
    var(--clr-accent1-dark)
  );
}

.breathing-indicator {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.breathing-indicator-core,
.breathing-indicator-outer {
  border-radius: 50%;
  position: absolute;
}

.breathing-indicator-core {
  display: block;
  background-color: var(--clr-text-transparent);
  width: var(--core-diameter);
  height: var(--core-diameter);
}

.breathing-indicator-outer {
  display: block;
  background-color: var(--clr-text-transparent);
  width: var(--outer-min-diameter);
  height: var(--outer-min-diameter);
  animation: breathe var(--animation-length) ease-in-out 0s infinite alternate;
  animation-play-state: running;
}

.preferences-panel {
  width: 100%;
  height: var(--preferences-panel-height);
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  padding: 0;
  background-color: var(--clr-accent3-dark);
  border-radius: var(--br) var(--br) 0 0;
  transition: height 1s ease-in-out;
  box-shadow: 0 0 2rem 0.25rem hsla(0, 0%, 0%, 0.2);
}

.preferences-title {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: solid medium var(--clr-text-transparent);
}

.preferences-panel .preferences-container {
  display: none;
}

.preferences-panel:hover,
.preferences-panel:focus-within {
  height: var(--preferences-panel-height-hover);
  display: grid;
  place-items: center;
}

.preferences-panel:hover *,
.preferences-panel:focus-within * {
  display: block;
}

.preferences-panel:hover .preferences-container,
.preferences-panel:focus-within .preferences-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

@keyframes breathe {
  from {
    width: var(--outer-min-diameter);
    height: var(--outer-min-diameter);
  }
  to {
    width: var(--outer-max-diameter);
    height: var(--outer-max-diameter);
  }
}

/* Chromium scrollbar styling */

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-accent1-default);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-main-light);
  border-radius: var(--br);
}
